name: Publish Docker image

on:
  push:
    branches: ['main', 'workflow_dispatch']

jobs:
  push_to_registry:
    name: Push Docker image to GCR and Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0

      - name: Build and push Docker image to GCR
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        run: | 
          gcloud auth configure-docker us-central-docker.pkg.dev
          docker build -t us-central1-docker.pkg.dev/verdant-future-387310/vois-repo/test .
          docker push us-central1-docker.pkg.dev/verdant-future-387310/vois-repo/test

      - name: Cache Node.js dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ hashFiles('**/package-lock.json') }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: muhammedemam/testnodejsapp

      - name: Build and push Docker image to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}


# name: Publish Docker image

# on:
#   push:
#     branches: ['main' , 'workflow_dispatch']

# jobs:
#   push_to_registry:
#     name: Push Docker image to Docker Hub
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out the repo
#         uses: actions/checkout@v3

#       - name: install gcloud cli
#         uses: google-github-actions/setup-gcloud@v0

#       - name: 'Authenticate to Google Cloud'
#         uses: 'google-github-actions/auth@v1'
#         with:
#           credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'  

#       - name: build and push docker image to gcr
#         env:
#          GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
#         run: | 
#           gcloud auth configure-docker us-central-docker.pkg.dev
#           docker build -t us-central1-docker.pkg.dev/verdant-future-387310/vois-repo/test .
#           docker push us-central1-docker.pkg.dev/verdant-future-387310/vois-repo/test


#       - name: Cache Node.js dependencies
#         uses: actions/cache@v2
#         with:
#           path: ~/.npm # The directory where npm stores dependencies
#           key: npm-${{ hashFiles('**/package-lock.json') }}
#           restore-keys: |
#             npm-${{ hashFiles('**/package-lock.json') }}  
      
#       - name: Log in to Docker Hub
#         uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}
      
#       - name: Extract metadata (tags, labels) for Docker
#         id: meta
#         uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
#         with:
#           images: muhammedemam/testnodejsapp
      
#       - name: Build and push Docker image
#         uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
#         with:
#           context: .
#           push: true
#           tags: ${{ steps.meta.outputs.tags }}
#           labels: ${{ steps.meta.outputs.labels }}
