name: Publish Docker image, Run SonarCloud Scan, and Push Image

on:
  push:  
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
      - release
    types: opened

jobs:
  build_and_sonar_scan:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

  
      - name: Cache Docker build
        id: cache
        uses: actions/cache@v2
        with:
          path: /usr/local/bin/docker/
          key: docker-build-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            docker-build-${{ runner.os }}-

      - name: Build Docker image        
        run: |
          docker build -t muhammedemam/testnodejsapp .

      - name: Save Docker image as artifact
        uses: actions/upload-artifact@v2
        with:
          name: docker-image
          path: /usr/local/bin/docker/muhammedemam-testnodejsapp

    #   - name: dubgging "finding image"
    #     run: |
    #         sudo ls -R /var/lib/docker/



    #   - name: dubgging "finding image"
    #     run: |
    #      sudo find / -type f -exec file {} \; | grep -E 'muhammedemam/testnodejsapp'

    

        

      - name: SonarCloud Scan
        id: sonar_scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  push_to_registry:
    name: Push Image to Artifact Repository
    needs: build_and_sonar_scan
    runs-on: ubuntu-latest
    steps:
            
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Download Docker image artifact
        uses: actions/download-artifact@v2
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          docker load -i muhammedemam-testnodejsapp.tar

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image to Docker Hub
        run: |
          docker push muhammedemam/testnodejsapp






























# name: Publish Docker image, Run SonarCloud Scan, and Push Image

# on:
#   workflow_dispatch:
#   pull_request:
#     branches:
#       - main
#       - develop
#       - release
#     types: opened

# jobs:
#   build_and_sonar_scan:
#     runs-on: ubuntu-latest
    
#     steps:
#       - name: Use Node.js 14.x
#         uses: actions/setup-node@v2
#         with:
#           node-version: 14.x  

#       - name: Check out the repo
#         uses: actions/checkout@v3
        
#       - name: Cache Docker build
#         id: cache
#         uses: actions/cache@v2
#         with:
#           path: /usr/local/bin/docker/
#           key: docker-build-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
#           restore-keys: |
#             docker-build-${{ runner.os }}-

#       - name: Build Docker image
#         run: |
#           docker build -t muhammedemam/testnodejsapp .
#         if: steps.cache.outputs.cache-hit != 'true'

#       - name: Save Docker image as artifact
#         uses: actions/upload-artifact@v2
#         with:
#           name: docker-image
#           path: /usr/local/bin/docker/muhammedemam-testnodejsapp.tar

#       - name: SonarCloud Scan
#         id: sonar_scan
#         uses: sonarsource/sonarcloud-github-action@v1.3
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

#   push_to_registry:
#     name: Push Image to Artifact Repository
#     needs: build_and_sonar_scan
#     runs-on: ubuntu-latest
#     steps:
#       - name: Use Node.js 14.x
#         uses: actions/setup-node@v2
#         with:
#           node-version: 14.x

#       - name: Check out the repo
#         uses: actions/checkout@v2

#       - name: Download Docker image artifact
#         uses: actions/download-artifact@v2
#         with:
#           name: docker-image

#       - name: Load Docker image
#         run: |
#           docker load -i muhammedemam-testnodejsapp.tar

#       - name: Log in to Docker Hub
#         uses: docker/login-action@v1
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Push Docker image to Docker Hub
#         run: |
#           docker push muhammedemam/testnodejsapp
